.not-found-body {
    text-align: center;
    padding-top: 100px;
    height: 1100px;
}

.not-found-body h1{
    font-family: 'Lato', sans-serif;
    color: #8367d8;
    font-size: 192px;
    text-shadow: 5px 5px #d9d9d9;
    margin-top: 70px;
    font-weight: 400;
}

.not-found-body h2{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.not-found-body a{
    font-family: 'Lato', sans-serif;
    color: #252525;
    border: solid 3px #8367d8;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 700;
}

.not-found-body a:link{
    color: #252525;
    text-decoration: none;
}

.not-found-body a:visited{
    color: #252525;
    text-decoration: none;
}

.not-found-body a:hover{
    box-shadow: 3px 3px #d9d9d9;
}