.navbar-container{
    background-color: white;
    height: 92px;
}

.logo{
    width: 25%;
    height: 100%;
    display: inline;
    box-sizing: border-box;
    float: left;
}

.search-bar{
    width: 48%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-buttons{
    width: 27%;
    height: 100%;
    display: flex;
    float: left;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}

.logo a{
    margin-left: 33%;
}

.logo img {
    padding-top: 3%;
}

.search-bar input {
    all: unset;
    border: solid 1px #E3E3E3;
    font-family: 'Lato', sans-serif;
    height: 46px;
    width: 100%;
    padding: 3px 10px;
    padding-right: 40px;
}

.search-bar button{
    all: unset;
    cursor: pointer;
    width: 56px;
    height: 56px;
    margin-left: -30px;
}

::placeholder {
    color: #9B9B9B;
    opacity: 0.7; 
}

.nav-buttons a{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    padding-left: 35px;
}

.nav-buttons a:link{
    color: #252525;
    text-decoration: none;
}

.nav-buttons a:visited {
    color: #252525;
    text-decoration: none;
}
