@import "../../Helpers/constants.scss";

.about-body {
  height: 900px;
  h1 {
    font-size: 32px;
    font-family: $main-font;
    padding-top: 40px;
    color: black;
  }
}

.about-text {
  display: inline;
  float: left;
  font-family: $main-font;
  font-size: 16px;
  padding-left: 8%;
  width: 55%;
  text-align: justify;
  box-sizing: border-box;
  height: 100%;
  color: $gray1;
}

.about-images {
  padding-top: 6%;
  display: inline;
  float: left;
  width: 45%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  padding-left: 2%;
  img {
    padding-top: 3%;
    padding-right: 30px;
    max-width: 31%;
    height: auto;
  }
}
