@import "../../Helpers/constants.scss";

.navbar-body {
  background-color: $gray0;
  height: 40px;
}

.social-media {
  padding: 0;
  margin: 0;
  display: inline;
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 100%;
  ul {
    top: 50%;
    padding: 0;
    margin-top: 0;
    margin-left: 15%;
    display: flex;
    li {
      font-size: 15px;
      line-height: 40px;
      list-style: none;
      margin: 0 10px;
    }
  }
  a {
    top: 25%;
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $gray1;
    text-align: center;
    line-height: 27px;
  }
  a:link {
    color: $gray0;
    text-decoration: none;
  }
  a:visited {
    color: $gray0;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
}

.login-and-signup {
  vertical-align: top;
  display: inline;
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 100%;
  ul {
    list-style: none;
    top: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: 15%;
    li {
      font-family: $main-font;
      font-size: 14px;
      line-height: 40px;
      margin: 0 10px;
    }
    li:hover {
      text-decoration: underline;
    }
  }
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
}

.navbar-username {
  color: $gray1;
  padding-right: 16%;
  text-align: right;
  line-height: 32px;
  font-family: $main-font;
  button {
    margin-left: 15px;
    background-color: transparent;
    color: $gray1;
    border: solid 1px $gray1;
    font-family: $main-font;
    font-size: 14px;
  }
  button:hover {
    background-color: $gray1;
    color: $gray0;
    cursor: pointer;
  }
}
