@import "../../Helpers/constants.scss";

.account-nav-tabs {
  margin-top: 40px;
  padding-left: 8%;
  margin-bottom: 64px;
  button {
    font-family: $main-font;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 0px;
    width: 10%;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
}

.not-active-account-tab {
  background-color: transparent;
}

.active-account-tab {
  color: white;
  background-color: $purple;
}

.profile-personal-info-form {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
  width: 84%;
  margin: auto;
  border: solid 1px $gray3;
  height: 800px;
  margin-bottom: 60px;
  h2 {
    margin: 0;
    font-size: 18px;
    background-color: $white1;
    height: 60px;
    font-weight: 400;
    border: solid 1px $gray3;
    line-height: 60px;
    padding-left: 32px;
  }
}

.profile-photo {
  width: 35%;
  box-sizing: border-box;
  float: left;
  height: 100%;
  padding-top: 25px;
  text-align: center;
  img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }
  input[type="file"] {
    display: none;
  }
}

.custom-file-upload {
  border: solid 3px $purple;
  display: inline-block;
  padding: 15px 0px;
  width: 350px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}

.custom-file-upload:hover {
  color: white;
  background-color: $purple;
}

.profile-personal-info {
  width: 65%;
  box-sizing: border-box;
  float: left;
  height: 100%;
  h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0px;
  }
  input[type="text"] {
    width: 90%;
    border: solid 1px $white0;
    background-color: $white1;
    height: 60px;
    padding-left: 30px;
    font-size: 18px;
  }
  input[type="text"]:focus {
    outline-style: unset;
  }
  ::placeholder {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 400;
    font-family: $main-font;
  }
  select {
    height: 60px;
    border: solid 1px $white0;
    width: 50%;
    outline-style: unset;
    padding-left: 30px;
    font-size: 18px;
  }
}

.date-of-birth-input {
  input[type="text"] {
    width: 24.1%;
    margin-right: 5%;
  }
}

.profile-info-submit {
  float: right;
  background: none;
  border: solid 2px $purple;
  font-family: $main-font;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 8%;
  span {
    margin-left: 15px;
  }
}

.profile-info-submit:hover {
  background-color: $purple;
  color: white;
}

.profile-card-info-form {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
  width: 84%;
  margin: auto;
  border: solid 1px $gray3;
  height: 580px;
  margin-bottom: 60px;
  h2 {
    margin: 0;
    font-size: 18px;
    background-color: $white1;
    height: 60px;
    font-weight: 400;
    border: solid 1px $gray3;
    line-height: 60px;
    padding-left: 32px;
  }
  input[type="radio"] {
    margin-left: 35%;
    margin-top: 25px;
  }
  h1 {
    font-size: 18px;
    font-weight: 400;
    margin-left: 35%;
    margin-top: 30px;
  }
  input[type="text"] {
    width: 58.5%;
    border: solid 1px $white0;
    background-color: $white1;
    height: 60px;
    padding-left: 30px;
    font-size: 18px;
    margin-left: 35%;
  }
  input[type="text"]:focus {
    outline-style: unset;
  }
  ::placeholder {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 400;
    font-family: $main-font;
  }
}

.expiration-date-input {
  margin-left: 35%;
  display: inline;
  input[type="text"] {
    width: 15%;
    border: solid 1px $white0;
    background-color: $white1;
    height: 60px;
    padding-left: 30px;
    font-size: 18px;
    margin-left: 0;
    margin-right: 4.2%;
  }
  span {
    margin-left: 35%;
  }
  h1 {
    display: inline-block;
    margin-left: 0;
  }
}

.profile-address-info-form {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
  width: 84%;
  margin: auto;
  border: solid 1px $gray3;
  height: 500px;
  margin-bottom: 60px;
  h2 {
    margin: 0;
    font-size: 18px;
    background-color: $white1;
    height: 60px;
    font-weight: 400;
    border: solid 1px $gray3;
    line-height: 60px;
    padding-left: 32px;
  }
  h1 {
    font-size: 18px;
    font-weight: 400;
    margin-left: 35%;
    margin-top: 30px;
  }
  input[type="text"] {
    width: 58.5%;
    border: solid 1px $white0;
    background-color: $white1;
    height: 60px;
    padding-left: 30px;
    font-size: 18px;
    margin-left: 35%;
  }
  input[type="text"]:focus {
    outline-style: unset;
  }
  ::placeholder {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 400;
    font-family: $main-font;
  }
  span {
    h1 {
      display: inline-block;
      margin-left: 35%;
      margin-bottom: 10px;
    }
    input[type="text"] {
      width: 23%;
      border: solid 1px $white0;
      background-color: $white1;
      height: 60px;
      padding-left: 30px;
      font-size: 18px;
      margin-left: 35%;
    }
  }
}
