//@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

$main-font: "Lato", sans-serif;
$gray0: #252525;
$gray1: #9b9b9b;
$white0: #d8d8d8;
$purple: #8367d8;
$white1: #fcfcfc;
$gray2: #d8d8d8;
$gray3: #e3e3e3;
$green0: #417505;
$green1: #f0f3ee;
$gold0: #ab944e;
$gold1: #f6f2e5;
