@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$main-font: "Lato", sans-serif;
$dark-gray: #252525;
$light-gray: #9b9b9b;
$dark-white: #d8d8d8;
$purple: #8367d8;
$banner-color: #fcfcfc;
