@import "../../Helpers/constants.scss";

.privacy-body {
  width: 33%;
  text-align: justify;
  font-family: $main-font;
  margin: auto;
  margin-bottom: 100px;
  font-size: 400;
  color: $gray1;
  h1 {
    color: black;
    font-size: 32px;
    font-weight: 400;
  }
}
