@import "../../Helpers/constants.scss";

.filters-and-categories {
  width: 24.4%;
  height: fit-content;
  float: left;
  display: block;
  box-sizing: border-box;
}

.product-list {
  width: 75%;
  float: left;
  display: block;
  box-sizing: border-box;
  font-family: $main-font;
}

.filter {
  display: inline-block;
  width: fit-content;
  margin-right: 5%;
  margin-left: 1%;
  margin-bottom: 55px;
}

.filter-title {
  color: $gray1;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 12px;
}

.filter-value {
  color: $gray0;
  font-weight: 400;
  font-size: 16px;
  display: inline;
  margin: 0px 13px 55px 0px;
}

.remove-filter {
  background-color: transparent;
  border: none;
  color: $gray1;
  font-size: 12px;
  :hover {
    cursor: pointer;
    color: $purple;
  }
}

.product-categories {
  border: solid 1px $gray2;
  float: right;
  width: 60%;
  font-family: $main-font;
  padding-left: 24px;
  margin-right: 12px;
  h1 {
    color: $purple;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 32px;
    margin-top: 24px;
  }
  h2 {
    color: $gray0;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 24px;
  }
  h2:hover {
    cursor: pointer;
  }
  button {
    background: none;
    border: none;
    font-size: 20px;
    float: right;
    margin-right: 14px;
  }
  button:hover {
    cursor: pointer;
  }
}

.subcategory {
  height: 40px;
  color: $gray1;
  display: none;
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 5px;
    appearance: none;
    outline: 2px solid $purple;
    box-shadow: none;
    float: left;
  }
  input[type="checkbox"]:checked {
    background-color: $purple;
  }
  input[type="checkbox"]:checked:after {
    content: "\2713";
    color: white;
    position: absolute;
    line-height: 15px;
    font-size: 15px;
    padding-left: 2px;
  }
}

.price-filter {
  border: solid 1px $gray2;
  float: right;
  margin-top: 50px;
  margin-right: 12px;
  height: 270px;
  width: 60%;
  font-family: $main-font;
  padding-left: 24px;
  h1 {
    color: $purple;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 32px;
    margin-top: 24px;
  }
  input[type="text"] {
    text-align: center;
    float: left;
    width: 20%;
    padding: 13px 20px;
    font-size: 16px;
    border: solid 2px $gray2;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 45px;
  }
  h3 {
    font-size: 16px;
    font-weight: 300;
    color: $gray1;
  }
}

.search-result-banner {
  padding-left: 8%;
  font-size: 16px;
  font-weight: 300;
  font-family: $main-font;
  color: $gray1;
  margin-top: 10px;
  height: 55px;
  span {
    color: $purple;
    font-weight: 700;
  }
}

.clear {
  clear: both;
  height: 356px;
}
