@import "../../Helpers/constants.scss";

.banner {
  background-color: $white1;
  height: 60px;
  font-family: $main-font;
  font-size: 16px;
  color: $gray0;
  font-weight: 700;
  line-height: 60px;
  padding-left: 8%;
}

.banner-path {
  display: inline;
  line-height: 60px;
  float: right;
  margin-right: 9%;
  font-size: 16px;
}

.banner-arrow {
  color: $gray1;
  font-size: 12px;
  font-weight: 300;
  margin-left: 13px;
  margin-right: 13px;
}

.banner-base-path {
  color: $gray1;
  font-weight: 300;
}

.banner-current-path {
  color: $purple;
}
